.header {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #FF5467;
    color: #fff;
    font-weight: bold;
    text-align: center;
    letter-spacing: .7px;
    padding: 20px;
}